### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
total_players = purchase_data_df["SN"].unique()
purchase_data_df["SN"].value_counts()
len(total_players)
total_players_df=pd.DataFrame({"Total Players":[len(total_players)]})
total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
unique_items_df=purchase_data_df["Item Name"].unique()
number_of_unique_items = len(unique_items_df)
average_price = purchase_data_df["Price"].mean()
number_of_purchases_df = purchase_data_df["Purchase ID"]
number_of_purchases = len(number_of_purchases_df)
total_rev = purchase_data_df["Price"].sum()

purchasing_analysis = pd.DataFrame({"Number of Unique Items":[number_of_unique_items], "Average Price":[average_price], "Number of Purchases":[number_of_purchases], "Total Revenue":[total_rev]})

purchasing_analysis

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
purchase_data_no_duplicates=purchase_data_df.drop_duplicates(["SN"])
gender_count = purchase_data_no_duplicates["Gender"].value_counts()
gender_count_male = gender_count["Male"]
gender_count_female = gender_count["Female"]
gender_count_other = gender_count["Other / Non-Disclosed"]
male_percent = gender_count_male/ (gender_count_female+gender_count_male+gender_count_other)*100
female_percent = gender_count_female/ (gender_count_female+gender_count_male+gender_count_other)*100
other_percent = gender_count_other/ (gender_count_female+gender_count_male+gender_count_other)*100
gender_demographics = pd.DataFrame({"":["Male","Female","Other / Non-Disclosed"],"Total Count":[gender_count_male,gender_count_female,gender_count_other],"Percentage of Players":[male_percent,female_percent,other_percent]})
gender_demographics_df = gender_demographics.set_index("")
gender_demographics_df

                       Total Count  Percentage of Players

Male                           484              84.027778
Female                          81              14.062500
Other / Non-Disclosed           11               1.909722


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
purchasing_analysis_df= purchase_data_df[["Purchase ID", "Gender", "Price"]]
gender_purchase_count = purchasing_analysis_df["Gender"].value_counts()
male_purchase_count = gender_purchase_count["Male"]
female_purchase_count = gender_purchase_count["Female"]
other_purchase_count = gender_purchase_count["Other / Non-Disclosed"]
avg_gender_price = purchasing_analysis_df.groupby('Gender', as_index=False).Price.mean()
total_gender_value = purchasing_analysis_df.groupby('Gender', as_index=False).Price.sum()
#avg_total_purchase_person = *******.groupby('Gender', as_index=False).Price.mean()
purchasing_analysis_gender = pd.DataFrame({"Gender":["Male","Female","Other / Non-Disclosed"],"Purchase Count":[male_purchase_count,female_purchase_count,other_purchase_count], "Average Purchase Price":[avg_gender_price.iloc[1,1],avg_gender_price.iloc[0,1],avg_gender_price.iloc[2,1]], "Total Purchase Value":[total_gender_value.iloc[1,1],total_gender_value.iloc[0,1],total_gender_value.iloc[2,1]], "Avg Total Purchase per Person":[total_gender_value.iloc[1,1]/gender_count_male,total_gender_value.iloc[0,1]/gender_count_female,total_gender_value.iloc[2,1]/gender_count_other]})
purchasing_analysis_gender_df= purchasing_analysis_gender.set_index("Gender")
purchasing_analysis_gender_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Male,652,3.017853,1967.64,4.065372
Female,113,3.203009,361.94,4.468395
Other / Non-Disclosed,15,3.346000,50.19,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [13]:
bins = [0,10,15,20,30,35,40,45]
bin_labels = ['<10','10-14','15-19','20-24','25-29','30-34','35-39','>=40']

purchase_data_no_duplicates['Age Groups']=pd.cut(purchase_data_no_duplicates['Age'],bins,labels=group_names
age_groups = purchase_data_no_duplicates.groupby('Age Group')
total_count_age = age_groups['SN'].nunique()
percentage_by_age = (total_count_age/total_players)*100
age_demo = pd.DataFrame({"Total Count":total_count_age, "Percentage of Players":percentage_by_age})
                                                 
age_demo.index.name = None

SyntaxError: invalid syntax (<ipython-input-13-2901ba3e98bb>, line 5)

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
bins = [0,10,15,20,25,30,35,40,150]
bin_labels = ['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']
cat_player_df = purchase_data_no_duplicates
cat_player_df['Age Groups'] = pd.cut(cat_player_df['Age'],bins,labels=bin_labels)
agegroup_bin = cat_player_df.groupby(['Age Groups'])

bin_count = agegroup_bin['Age'].count()
bin_avg = agegroup_bin['Price'].mean()
bin_total = agegroup_bin['Price'].sum()
bin_duplicates = cat_player_df.copy()
bin_duplicates = bin_duplicates.drop_duplicates(subset='SN', keep='first')
bin_duplicates['Age Groups'] = pd.cut(bin_duplicates['Age'],bins,labels=bin_labels)
bin_duplicates=bin_duplicates.groupby(['Age Groups'])

bin_total_avg = (agegroup_bin['Price'].sum()/bin_duplicates['SN'].count())
age_purchase_df = pd.DataFrame({'Purchase Count':bin_count, 'Average Purchase Price':bin_avg, 'Total Purchase Value':bin_total, 'Avg Total Purchase per Person':bin_total_avg})
age_purchase_df

C:\Users\rvara\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Groups,,,,
<10,24,3.424167,82.18,3.424167
10-14,41,2.937317,120.43,2.937317
15-19,150,3.178933,476.84,3.178933
20-24,232,3.017371,700.03,3.017371
25-29,59,2.898644,171.02,2.898644
30-34,37,3.004054,111.15,3.004054
35-39,26,3.287308,85.47,3.287308
40+,7,3.075714,21.53,3.075714

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

## Observable Trends

* There are significantly more male players than female and other players
* Female players spend more money on average per person than male players
*