### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
total_players = purchase_data_df["SN"].unique()
purchase_data_df["SN"].value_counts()
len(total_players)
total_players_df=pd.DataFrame({"Total Players":[len(total_players)]})
total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
unique_items_df=purchase_data_df["Item Name"].unique()
number_of_unique_items = len(unique_items_df)
average_price = purchase_data_df["Price"].mean()
number_of_purchases_df = purchase_data_df["Purchase ID"]
number_of_purchases = len(number_of_purchases_df)
total_rev = purchase_data_df["Price"].sum()

purchasing_analysis = pd.DataFrame({"Number of Unique Items":[number_of_unique_items], "Average Price":[average_price], "Number of Purchases":[number_of_purchases], "Total Revenue":[total_rev]})

purchasing_analysis

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
purchase_data_no_duplicates=purchase_data_df.drop_duplicates(["SN"])
gender_count = purchase_data_no_duplicates["Gender"].value_counts()
gender_count_male = gender_count["Male"]
gender_count_female = gender_count["Female"]
gender_count_other = gender_count["Other / Non-Disclosed"]
male_percent = gender_count_male/ (gender_count_female+gender_count_male+gender_count_other)*100
female_percent = gender_count_female/ (gender_count_female+gender_count_male+gender_count_other)*100
other_percent = gender_count_other/ (gender_count_female+gender_count_male+gender_count_other)*100
gender_demographics = pd.DataFrame({"":["Male","Female","Other / Non-Disclosed"],"Total Count":[gender_count_male,gender_count_female,gender_count_other],"Percentage of Players":[male_percent,female_percent,other_percent]})
gender_demographics_df = gender_demographics.set_index("")
gender_demographics_df

                       Total Count  Percentage of Players

Male                           484              84.027778
Female                          81              14.062500
Other / Non-Disclosed           11               1.909722


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
purchasing_analysis_df= purchase_data_df[["Purchase ID", "Gender", "Price"]]
gender_purchase_count = purchasing_analysis_df["Gender"].value_counts()
male_purchase_count = gender_purchase_count["Male"]
female_purchase_count = gender_purchase_count["Female"]
other_purchase_count = gender_purchase_count["Other / Non-Disclosed"]
avg_gender_price = purchasing_analysis_df.groupby('Gender', as_index=False).Price.mean()
total_gender_value = purchasing_analysis_df.groupby('Gender', as_index=False).Price.sum()
#avg_total_purchase_person = *******.groupby('Gender', as_index=False).Price.mean()
purchasing_analysis_gender = pd.DataFrame({"Gender":["Male","Female","Other / Non-Disclosed"],"Purchase Count":[male_purchase_count,female_purchase_count,other_purchase_count], "Average Purchase Price":[avg_gender_price.iloc[1,1],avg_gender_price.iloc[0,1],avg_gender_price.iloc[2,1]], "Total Purchase Value":[total_gender_value.iloc[1,1],total_gender_value.iloc[0,1],total_gender_value.iloc[2,1]]})
purchasing_analysis_gender_df= purchasing_analysis_gender.set_index("Gender")
purchasing_analysis_gender_df

,Purchase Count,Average Purchase Price,Total Purchase Value
Gender,,,
Male,652,3.017853,1967.64
Female,113,3.203009,361.94
Other / Non-Disclosed,15,3.346000,50.19

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

## Observable Trends

* There are significantly more male players than female and other players
* Female players spend more money on average than male players
*